class apb_agent extends uvm_agent;
	`uvm_component_utils(apb_agent)
	apb_agt_config a_cfg;

	apb_monitor monh;
	apb_driver drvh;
	apb_sequencer seqrh;

function new(string name="apb_agent",uvm_component parent);
	super.new(name,parent);
endfunction : new

function void build_phase(uvm_phase phase);
	super.build_phase(phase);
	if(!uvm_config_db#(apb_agt_config)::get(this,"","apb_agt_config",a_cfg))
	`uvm_fatal(get_type_name(),"not getting")
	monh=apb_monitor::type_id::create("monh",this);
	if(a_cfg.is_active==UVM_ACTIVE)
	begin
	drvh=apb_driver::type_id::create("drvh",this);
	seqrh=apb_sequencer::type_id::create("seqrh",this);
	end
endfunction : build_phase

function void connect_phase(uvm_phase phase);
	if(a_cfg.is_active==UVM_ACTIVE)
	begin
		drvh.seq_item_port.connect(seqrh.seq_item_export);
	end
endfunction : connect_phase

endclass : apb_agent
